{
    "presets": [
        [
            "env",
            {
                "modules": false,
                "targets": {

                }
            }
        ]
    ],
    "env": {
        "commonjs": {
            "presets": [
                [
                    "env",
                    {
                        "loose": true
                    }
                ]
            ]
        }
    }
}